njc-wma-kyc-api/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f5cd3bae-c9ee-40c4-82e8-c02468a95950" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="country-confirmation" doc:id="5ef4c415-ad51-41a9-856b-1af4dce689f8" >
		<http:listener doc:name="Listener" doc:id="0f75116e-39b4-4866-baef-4e265e30fd83" config-ref="HTTP_Listener_config" path="/country/{client_id}"/>
		<choice doc:name="Choice" doc:id="998834f5-8479-4c97-af4a-36bef6b9fc45" >
			<when expression='payload.country == "United Kingdom"'>
				<set-payload value="#[output application/json&#10;---&#10;{&#10;	validation: true&#10;}]" doc:name="Set validation: true" doc:id="aae6d6d6-824d-48ca-9575-0acf02be2423" />
			</when>
			<otherwise >
				<set-payload value="#[output application/json&#10;---&#10;{&#10;	validation: false&#10;}]" doc:name="Set validation: false" doc:id="7ef3fd38-0461-4dda-88c1-9c51df75855d" />
			</otherwise>
		</choice>
	</flow>
</mule>
